# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
.pytest_cache
venv/
*.egg-info
dist/
build/
.env

# FastAPI / Uvicorn
*.log
.uvicorn.pid

# IDE
.idea/
.vscode/
*.swp
*.swo

# Poetry
poetry.lock

#Other
structure.py